{
  "extends": "rallycoding",
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": "off",
    "no-useless-constructor": "off"
  },
  "globals": {
    "describe": true,
    "it": true,
    "afterEach": true,
    "window": true
  }
}
